 *#root, html{
  background:linear-gradient(to left, rgb(228, 194, 147), rgb(250, 184, 85));
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  box-shadow: 8px 8px 15px #000;
}